extends layout

block prepend content
  h1 About Me
  h3 Interests
    ul
        li Reading novels
         p 
         img(src="./images/reading.jpg" alt="Reading")

        li Travelling
        li Web Designing
        li Dancing
        li Cake decorating 
         p
          img(src="./images/Cake-Decorating.jpg" alt="Cake Decoration")