extends layout

block prepend content
  h1 About Me
  h3 Interests
    ul
        li Reading novels
         p 
         img(src="./images/reading.jpg" alt="Reading" width= "250px" height= "200px")

        li Travelling
        p 
         img(src="./images/travelling.jpg" alt="Travelling" width= "250px" height= "200px")

        li Web Designing
        p 
         img(src="./images/web.jpg" alt="Web Designing" width= "250px" height= "200px")

        li Dancing
        p 
         img(src="./images/dance.jpg" alt="Dancing" width= "250px" height= "200px")

        li Cake decorating 
         p
          img(src="./images/Cake-Decorating.jpg" alt="Cake Decoration" width= "250px" height= "200px")