doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://colorlib.com/download/2657/')
  body
    include ./partials/nav
    include ./partials/header
    include ./partials/footer
    block content
    block script
