extends layout

block prepend content
  h1 My Projects
  h3 My other works

  div
    p The Icecream parlour using ASP.Net
    a(href ="https://theicecreamparlour.azurewebsites.net") 
      img(src="./images/icecream.jpg", alt="icecream", width="200px", height="150px")
    
   
